.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin: 0 50px;
      
}
.cart-container{
    margin-top:0;
    
    height: 600px;
    border: 2px solid darkgray;
    border-radius: 10px;
    padding: 30px;
    background-color: darkgrey;
    position: sticky;
    top: 0;
    
    
}
.cart-container h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgreen;
    padding: 15px;
    margin-left:30px ;
    text-decoration: underline;
   
}
.cart-container h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgreen;
    text-decoration: none;
    margin-bottom: 10px;
}
.cart-container span{
    color: black;
    
}

.choose-btn{
    border: 2px solid ;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
    align-items: center;
    background-color: darkkhaki;
    margin-bottom: 5px;

}

.choose-btn:hover{
    background-color: olive;
}
.reset-btn{
    border: 2px solid ;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
    background-color: darkkhaki;
}
.reset-btn:hover{
    background-color: olive;
}

@media only screen and (max-width: 600px) {
    .shop-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .shop-container .cart-container{
        order: 1;
    }
    .cart-container{
        text-align: center;
        position: sticky;
        
        width: 250px;
        height: auto;
        margin: auto;
    }
    .product-container {
      grid-template-columns: 1fr;
      order: 2;
    }
  }